/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* We put font style into body because in this way we can use the power of inheritance */
/* instead of selecting everything */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            /* set opacity to 80% so we can see background img */
            rgba(126, 213, 111, 0.801),
            rgba(40, 180, 133, 0.801)),
        url(../img/hero.jpg);
    /* always try to fit the width of the viewport */
    background-size: cover;
    /* keep the top of the image the same when resizing */
    background-position: top;
    position: relative;


    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

/* animate the logo on hover */
/* .logo-box:hover .logo {
    animation: moveInRight 1s ease-out;
} */

.logo {
    height: 35px;
}

.text-box {
    /* to center the box */
    position: absolute;
    /* top and left are relative to the parent element */
    /* 40% instead of 50% to make it feel more centered */
    top: 40%;
    left: 50%;
    /* translate is relative to the element itself */
    /* otherwise text STARTS at center, we want the MIDDLE of the text to be centered */
    transform: translate(-50%, -50%);
    /* to center the button's */
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    /* little hack/fix for the heading's shaky text animation */
    /* however in Chrome's last versione it seems to work fine even without this hack */
    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    /* short way */
    animation: moveInRight 1s ease-out;
}

/* CSS Animations */
@keyframes moveInLeft {

    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInRight {

    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInBottom {

    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

/* normal and visited state */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    /* animations */
    transition: all .2s;
    /* for the absolut position of the ::after element */
    position: relative;
}

.btn:hover {
    /* move up */
    transform: translateY(-3px);
    /* offsetX, offsetY, blur radius, color */
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

/* How box-shadow works:

            offsetY
                ^
                |
    button - - - - - shadow
    |
    | -> offsetX
    |
    shadow


*/


/* when clicked */
.btn:active {
    /* push down the button a little bit */
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

/* initial state of the ::after pseudo element */
.btn::after {
    content: "";
    /* like the normal button */
    display: inline-block;
    /* pseudo element is treated like a child of the button */
    /* we want it to be the same */
    height: 100%;
    width: 100%;
    border-radius: 100px;
    /* to put it behind the parent element */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* need to define transition in the initial state to affect also the other states */
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    /* to have more control than normal scale() */
    transform: scaleX(1.4) scaleY(1.6);
    /* to make the element fade out */
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    /* to apply animation's 0% state to the initial state */
    /* that's a fix because we're applying a deleay to the button */
    /* so at the beginning it's still visible */
    animation-fill-mode: backwards;
}