/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* We put font style into body because in this way we can use the power of inheritance */
/* instead of selecting everything */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            /* set opacity to 80% so we can see background img */
            rgba(126, 213, 111, 0.801),
            rgba(40, 180, 133, 0.801)),
        url(../img/hero.jpg);
    /* always try to fit the width of the viewport */
    background-size: cover;
    /* keep the top of the image the same when resizing */
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}