// How does clearfix actually work?
// it appends a pseudo element after the element
// which will clear the floats
@mixin clearfix {
    &::after {
        // we need to define a content otherwise it doesn't work
        content: "";
        // we use display: table because it's the standard version of clearfix
        display: table;
        // cleat both left and right
        // the property that actually performs the fix
        clear: both;
    }
}

// To make an element horizontally and vertically centered inside its container
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}