/* BEM notation */
/* Block__Element--Modifier */

// Block
.header {
    height: 95vh;
    // How to put a gradiant over a background image:
    background-image: linear-gradient(to right bottom,
            /* set opacity to 80% so we can see background img */
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    /* always try to fit the width of the viewport */
    background-size: cover;
    /* keep the top of the image the same when resizing */
    background-position: top;
    position: relative;


    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    // & = .header

    // Block__Element
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    /* animate the logo on hover */
    /* .logo-box:hover .logo {
        animation: moveInRight 1s ease-out;
    } */

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        /* to center the box */
        position: absolute;
        /* top and left are relative to the parent element */
        /* 40% instead of 50% to make it feel more centered */
        top: 40%;
        left: 50%;
        /* translate is relative to the element itself */
        /* otherwise text STARTS at center, we want the MIDDLE of the text to be centered */
        transform: translate(-50%, -50%);
        /* to center the button's */
        text-align: center;
    }
}