.navigation {
    &__checkbox {
        // hide the checkbox
        display: none;
    }

    &__button {
        background-color: $color-white;
        // to make a circle bigger than the initial background in order to cover it
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        // to cover the navigation background
        z-index: 2000;
        // create some shadow
        box-shadow: 0 1rem 3rem rgba($color: $color-black, $alpha: .1);
        // to horizontally center the button's icon (3 lines)
        text-align: center;
        cursor: pointer;
    }

    &__background {
        // to make a circle
        height: 6rem;
        width: 6rem;
        border-radius: 50%;

        // to make it not change position when we scroll
        // like absolute, the element is taken out from the natural flow
        // so we can use top, left... to specify the position on the page
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        // like linear-gradient but gradient starts from the center
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        // very high value to make sure it's above any other element
        z-index: 1000;

        // cubic-bezier() lets us customize animation's timing function even more!
        // this cubic-bezier is called "easeInOutQuint"
        transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);

    }

    &__nav {
        // to make it full screen
        height: 100vh;
        // OPTIONAL: since it's a block element and by default it occupies all the available space
        width: 100%;
        // to make it stay on the same position even on scrolling
        position: fixed;
        top: 0;
        // two porpouses: for position and for the animation of moving the list from the left 
        left: 0;
        // needs to stay between the nav background and the nav button
        z-index: 1500;
        // background-color: orangered; // --> FOR TESTING PORPOUSES: to see the behaviour of the nav during the animation


        // to make it transparent
        opacity: 0;
        // we use a different technique to make the nav disappear at the beginning
        // instead of visibility: hidden we reduce the width to 0
        // visibility: hidden;
        width: 0;

        // put "all" to animate both opacity and width changing
        // this cubic-bezier is called "easeInOutBack" and it makes the nav move a little bit more on the right during the animation
        transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &__list {
        // vertically and horizontally centered on the page
        // TODO: put this code into a mixin since it's being used quite frequently
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // to remove the default side dots from le list
        list-style: none;
        // to align the list text to the center
        text-align: center;
        width: 100%;
    }

    &__item {
        // make some space between nav links
        margin: 1rem;
    }

    &__link {

        &:link,
        &:visited {
            // to make padding and transform effect work
            // because by default is inline so it's limited
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            // the remove the default underline
            text-decoration: none;
            text-transform: uppercase;

            // to create the oblique cut style we use again the...
            // SOLID COLOR GRADIENT technique
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            // this time instead of making an img fill the container
            // we want to increse its value to fill the container with the first color of the linear gradient
            // since the first value is 50% of the container we have to make it double
            // so we double the background size (200%)
            // but we need 220+% because we rotated the colors a little bit (120deg)
            // set to 250% to get rid of the of the second color appearing a little bit in the nav's closing animation
            background-size: 250%;
            // to create the animation of shifting the second linear gradient color from right to left
            transition: all .4s;

            // breaking the rules with <span> without a class
            // we put the section number inside <span>
            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            // shifts the second linear gradient color from right to left
            background-position: 100%;
            // to be able to see the text after changing the background color
            color: $color-primary;
            // move a little bit to the right
            transform: translateX(1rem);

            /*

            For understanding better the background-position property
            from https: //www.w3schools.com/cssref/pr_background-position.asp

            The background-position property sets the starting position of a background image. 
            Tip: By default, a background-image is placed at the top-left corner of an element,
            and repeated both vertically and horizontally.
            
            Value: x% y%
            The first value is the horizontal position and the second value is the vertical. 
            The top left corner is 0% 0%. The right bottom corner is 100% 100%. 
            If you only specify one value, the other value will be 50%. 
            Default value is: 0% 0%.
            
            */

        }
    }

    // FUNCTIONALITY
    // when the checkbox is checked select the navigation background
    // we use ~ since the background is not an adjacent sibling of the checkbox
    &__checkbox:checked~&__background {
        // to make the background cover the entire page
        // could not cover the whole page on very large screens
        transform: scale(80);
    }

    // when the checkbox is checked select the navigation
    &__checkbox:checked~&__nav {
        // make the navigation appear again
        opacity: 1;
        width: 100%;
    }

    // ICON
    // we have a <span> element and style its ::before and ::after pseudo-elements
    // instead of creating two more elements in the HTML
    // nav__icon::before = top line
    // nav__icon = middle line
    // nav__icon::after = bottom line
    &__icon {
        position: relative;
        // to center more the icon
        // could have also used translate()
        margin-top: 3.5rem;

        // create the three lines icon
        &,
        &::before,
        &::after {
            width: 3rem;
            // put px because we always want this size no matter what the base size is
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;

            // put transition here if you want to affect the middle line's disappearing animation
            // make the :hover and :checked animations work
            transition: all .2s;
        }

        &::before,
        &::after {
            content: "";
            // put at the right position
            position: absolute;
            left: 0;

            // put transition here if you DON'T want to affect the middle line's disappearing animation
            // make the :hover and :checked animations work
            // transition: all .2s;

        }

        // top line initial vertical position
        &::before {
            // could have also used translate()
            top: -.8rem;

            // we didn't need to use transform-origin property but it can be useful sometimes
            // it changes the point where the transformation begins e.g. during rotations
            // by default the point is the center
            // transform-origin: right;
        }

        // bottom line initial vertical position
        &::after {
            // could have also used translate()
            top: .8rem;
        }

    }

    // when hovering the nav button, select the first line of the icon (which is a child of the button)
    &__button:hover &__icon::before {
        // move the top line a little bit up
        top: -1rem;
    }

    // when hovering the nav button, select the third line of the icon (which is a child of the button)
    &__button:hover &__icon::after {
        // move the bottom line a little bit down
        top: 1rem;
    }

    // when the checkbox is checked, select its adjacent sibling's (button) child (icon)
    &__checkbox:checked+&__button &__icon {
        // make the icon middle line disappear
        // in order to do that we don't change its size because ::before and ::after depend on that
        background-color: transparent;

    }

    // How to make a cross with the first and last line

    &__checkbox:checked+&__button &__icon::before {
        // move it to the center (to the hidden middle line's position)
        top: 0;
        // then rotate it
        // transform: rotate(45deg);

        // to make the rotation more dramatic 
        // 180deg - 45deg = 135deg = 3/4 of 180deg
        transform: rotate(135deg);
    }

    &__checkbox:checked+&__button &__icon::after {
        // move it to the center (to the hidden middle line's position)
        top: 0;
        // then rotate it
        // transform: rotate(-45deg);

        // to make the rotation more dramatic 
        // 180deg - 45deg = 135deg = 3/4 of 180deg
        transform: rotate(-135deg);
    }


}