.card {

    // *** FUNCTIONALITIES ***

    // to improve the Card rotation animation and to make it look like moving towards you
    // REMEMBER to add a big value
    // smaller the value, more dramatic the effect
    perspective: 150rem;
    -moz-perspective: 150rem;

    // to make children's position absolute work
    position: relative;
    // to fix the collapsed height of the card since its children are absolute positioned (taken out from natural flow)
    // unlike for floats we cannot use clearfix
    // so we need to set the same height of its children
    height: 52rem;

    // to make the perspective property work
    // we need to apply the rotation on a child element of .card
    // .card__side
    &__side {

        // increased from 50rem to have some more space from last card detail
        height: 52rem;
        transition: all .8s ease;
        // to position the two sides at the top of each other
        position: absolute;
        top: 0;
        left: 0;
        // since we gave absolute position, the element fits only the space needed by the content
        // to fix this issue
        width: 100%;
        // to hide the backside of the element when flipped
        backface-visibility: hidden;
        border-radius: 3px;
        // to fix card picture from hiding card's round corners
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .15);

        &--front {
            background-color: $color-white;
        }

        // the back side needs to be alreadt flipped
        &--back {

            // flips by 180deg
            transform: rotateY(180deg);

            &-1 {
                // linear gradient can be used only for backgroud-image and not background-color
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                // linear gradient can be used only for backgroud-image and not background-color
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                // linear gradient can be used only for backgroud-image and not background-color
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }

    }

    // How to rotate a Card on hover
    // when hovering the card, flip the front side
    // .card:hover .card__side--front
    &:hover &__side--front {
        // flip to the opposite direction
        transform: rotateY(-180deg);
    }

    // flip it back
    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    // *** FRONT SIDE STYLING ***
    &__picture {
        // resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges
        background-size: cover;
        // height of the img
        height: 23rem;
        // modern CSS property for blending linear-gradient with img instead of editing the img in Photoshop
        background-blend-mode: screen;
        // like in the header
        // first put the version with prefix
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        // to fix clip path behaviour/bug in older Chrome versions
        // it would remove top left radius
        // border-top-left-radius: 3px;
        // border-top-right-radius: 3px;

        // First Card
        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
                url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
                url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
                url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        // to position the heading above the card picture to the top right
        position: absolute;
        top: 12rem;
        right: 2rem;
        // since we're at it let's align it to the right
        text-align: right;

        // decrease the width to break the text into a new line
        width: 75%;
    }

    // needed to use box-decoration-break
    &__heading-span {

        // adding some more space to make it easier to brake the text into a new line
        padding: 1rem 1.5rem;

        // treat a text line break as a new box element
        // in this case it fix the left and right padding spaces of the line breaks
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            // slightly transparent background gradient
            background-image: linear-gradient(to right bottom,
                    rgba($color-secondary-light, .85),
                    rgba($color-secondary-dark, .85));
        }

        &--2 {
            // slightly transparent background gradient
            background-image: linear-gradient(to right bottom,
                    rgba($color-primary-light, .85),
                    rgba($color-primary-dark, .85));
        }

        &--3 {
            // slightly transparent background gradient
            background-image: linear-gradient(to right bottom,
                    rgba($color-tertiary-light, .85),
                    rgba($color-tertiary-dark, .85));
        }
    }

    // Card details
    &__details {
        // add some more space between card details and card heading
        padding: 3rem;

        ul {
            // remove default underline
            list-style: none;
            // make the custom underline no to occupy 100% of space
            width: 80%;
            // center block element inside of block element
            margin: 0 auto;

            li {
                // align the text to the center of the parent
                text-align: center;
                font-size: 1.5rem;
                // space between text and custom underline
                padding: 1rem;

                // add custom underline to every <li> except the last one
                &:not(:last-child) {
                    // custom underline
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    // *** BACK SIDE STYLING ***
    &__cta {
        // to center it vertically and horizontally
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // to fix button width
        width: 90%;
        text-align: center;
    }

    &__price-box {
        // in this case text align can be commented since it's already defined in the parent (cta)
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
        // could also add u-margin-bottom-big utility class in HTML
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        // Good Practice: make huge text thin
        font-weight: 100;
    }


}