.composition {
    position: relative;

    // .composition__photo
    &__photo {
        width: 55%;
        // in rgba() .4 means 40%
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .4);
        // add round corners to image
        border-radius: 2px;
        // set imgs on top of each other
        position: absolute;
        //reference (0;0) coordinates are on top left corner of .composition element

        // default z-index
        z-index: 10;

        transition: all .2s;

        // space between offset and img
        outline-offset: 2rem;

        // when screen shrinks into tablet portrait mode
        // change the composition of the imgs
        // float them side by side
        @include respond(tab-port) {
            float: left;
            // to make float work
            position: relative;
            // all the 3 imgs occupy the same width
            width: 33.33333333%;
            // slightly less pronounced shadow
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        // selecting imgs one by one
        // .composition__photo--p1
        &--p1 {
            left: 0;
            top: -2rem;

            // when screen shrinks into tablet portrait mode
            @include respond(tab-port) {
                // undo the values
                top: 0;

                // make img bigger
                transform: scale(1.2);
            }
        }

        &--p2 {
            right: 0;
            top: 2rem;

            // when screen shrinks into tablet portrait mode
            @include respond(tab-port) {
                // move it up
                top: -1rem;

                // make img bigger
                transform: scale(1.3);

                // show it above of the other imgs
                z-index: 100;
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;

            // when screen shrinks into tablet portrait mode
            @include respond(tab-port) {
                // undo the value
                left: 0;
                // move it down
                top: 1rem;

                // make img bigger
                transform: scale(1.1);
            }
        }

        &:hover {
            // outline is like border but we can do more stuff e.g. setting the offset
            outline: 1.5rem solid $color-primary;
            // make in bigger and move it up a little bit
            transform: scale(1.05) translateY(-.5rem);
            // since it seems to be closer to the user it should cast bigger shadows
            box-shadow: 0 2.5rem 4rem rgba($color: $color-black, $alpha: .5);
            // put the img on top of others
            z-index: 20;
        }

    }

    // When hovering on a composition photo, scale down the others
    // .composition:hover .composition__photo:not(:hover)
    // EXPLANATION
    // when hovering on composition select the composition photo which is not hovered
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }

}