// Partial SCSS file
// partials' name always start with _

// _base.scss contains CSS Resets and basic stuff

/* CSS Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    /* to use the power of inheritance */
    /* Because of performance. 
    It is faster to inherit that for every element (from the body) 
    than it is to directly select every element to set it (with the universal selector). */
    box-sizing: inherit;
}

html {
    /* overwrite default root font-size of the browser (16px) */
    /* 10px is chosen to make things easier since to conver from px to rem we only need to divide by 10 */
    /* in this way: 1rem = 10px */
    /* also now it easier to write media queries since by changing the font-size 
    the browser does a lot of auto work for us */
    /* for example normally we have 10px font-size with 30px padding around the page,
    by changing the the font-size to 5px we have automatically 15px of padding! */
    /* it is very useful in smaller screens where we set smaller font but the layout stays consistent */
    /* font-size: 10px; */

    /* it is bad practice to set root font-size in px */
    /* because of accessibility concern: to let the user set the font-size in the browser settings */
    /* by default it's 16px but if the user set it to 20px it wouldn't work because we hardcoded a value */
    /* so we need to use percentages: 62.5% of 16px = 10px */
    /* 100% = 16px */
    /* proportion used for value calculation: 100:16 = x:10 */
    // This defines what 1rem is
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

    // TESTING "dumb" way of using mixins for responsive design
    // @include respond-phone {
    //     font-size: 50%;
    // }


    // Right order to put media queries: from the bigger to the smaller

    @include respond(tab-land) {
        // width < 1200px
        font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
    }

    @include respond(tab-port) {
        // width < 900px?
        font-size: 50%; // 1rem = 8px; 8px/16px = 50%
    }

    // don't want to use this
    // @include respond(phone) {
    //     // width < 600px
    //     font-size: 30%; // 1rem = 4.8px; 4.8px/16px = 30%
    // }

    @include respond(big-desktop) {
        // width > 1800px?
        font-size: 75%; // 1rem = 12px; 12px/16px = 75%
    }

}

body {
    /* box-sizing gets inherited by all elements */
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        // width < 900px?
        // get rid of the padding
        padding: 0;
    }
}