/* We put font style into body because in this way we can use the power of inheritance */
/* instead of selecting everything */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    /* little hack/fix for the heading's shaky text animation */
    /* however in Chrome's last versione it seems to work fine even without this hack */
    backface-visibility: hidden;
    margin-bottom: 6rem;



    // & = .heading-primary

    // Block-Modifier
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone) {
            // width < 600px
            // reduce letter spacing
            letter-spacing: 1rem;
            // decrease font-size
            font-size: 5rem;
        }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;

        /* short way */
        animation: moveInRight 1s ease-out;

        @include respond(phone) {
            // width < 600px
            // reduce letter spacing
            letter-spacing: .5rem;
        }
    }

}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    // How to put gradient as text color:
    // 1) Set gradient as a background image
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    // 2) Set the element not to occupy 100% of available width --> set inline-block
    display: inline-block;
    // 3) Set the background only to apply to the text / background clipped to the text
    background-clip: text;
    -webkit-background-clip: text;
    // 4) Set text color to transparent in order to see only background's one
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
        // width < 1200px
        // decrease font-size
        font-size: 2.5rem;
    }

    @include respond(phone) {
        // width < 600px
        // decrease font-size
        font-size: 2rem;
    }

    &:hover {
        // cool effect when hovering
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    // space between paragraphs excluding the last one
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}