// we put it here because the about section will only be present in the homepage and nowhere else
.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    // move up the section to fill the white triangle (blank space) created by clip-path() polygon in the header
    // header's height (95vh) - polygon right height (75vh) = 20vh
    margin-top: -20vh;

    // when screen shrinks into tablet portrait mode
    // reduce the padding... I prefer to comment this part!
    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
            /* set opacity to 80% so we can see background img */
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(../img/nat-4.jpg);
    // Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges
    background-size: cover;

    // Alternative method to do skew design like the header instead of using clip-path()
    // 1) We skew the whole section
    transform: skewY(-7deg);

    // move the section up to cover triangular blank space created by skewing
    margin-top: -10rem;

    // 2) We skew back the direct child (row) back to normal
    // select all the direct children of .section-features
    &>* {
        transform: skewY(7deg);
    }

    // if we used directly & * we would have selected all the children of the children
    // leading to a wrong design --> every descendants being skewed too much

    // when screen shrinks into tablet portrait mode
    // reduce the padding to make it more symmetrical with the section above
    // because of the oblique cut
    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    // when screen shrinks into tablet portrait mode
    // reduce the padding
    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    // to be able to put a video as the background
    position: relative;
    padding: 15rem 0;

    // when screen shrinks into tablet portrait mode
    // reduce the padding
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    // when screen shrinks into tablet portrait mode
    // reduce the padding
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.book {
    // SOLID COLOR GRADIENT technique
    // to do the oblique cut style
    // basically it's a linear gradient applied on the image
    // half with color, half transparent
    // magic happens when we put the two colors at 50%
    // to be more precised about color gradient direction, we can use degrees instead of e.g. "to left"...
    // to put the right URL: imagine we're in style.css
    background-image: linear-gradient(105deg,
            rgba($color-white, .9) 0%,
            rgba($color-white, .9) 50%,
            transparent 50%),
        url(../img/nat-10.jpg);
    // cover = 100% -> they are kinda the same
    // 100% means: ensure the image fits the container in the X direction
    background-size: 100%;
    // TODO: put 3px into a variable since we're using it a lot
    border-radius: 3px;
    // if you have a dark background, the shadow should also be darker
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    // height: 50rem; // For TESTING porpouses

    // when screen shrinks to tablet landscape mode
    @include respond(tab-land) {
        // increse the colored part over the background image
        background-image: linear-gradient(105deg,
                rgba($color-white, .9) 0%,
                rgba($color-white, .9) 65%,
                transparent 65%),
            url(../img/nat-10.jpg);

        // this time make sure to backgroud image cover the entire container
        background-size: cover;
    }

    // when screen shrinks to tablet portrait mode
    @include respond(tab-port) {
        // cover the image with white color
        // the deg doesn't matter ant
        background-image: linear-gradient(to right,
                rgba($color-white, .9) 0%,
                rgba($color-white, .9) 100%),
            url(../img/nat-10.jpg);

    }


    &__form {
        // since the form needs to be in the colored half
        width: 65%;
        padding: 6rem;

        // when screen shrinks to tablet landscape mode
        @include respond(tab-land) {
            // increase the form width
            width: 65%;
        }

        // when screen shrinks to tablet portrait mode
        @include respond(tab-port) {
            // increase the form width
            width: 100%;
        }
    }

}